.calc-container {
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  -ms-grid-rows: repeat(6, 1fr);
  width: 50vw;
  height: 50vw;
  border-color: #fff;
}

.result {
  display: flex;
  grid-column: span 4;
  justify-content: flex-end;
  align-items: center;
  background-color: #858694;
  margin: 0;
  color: #fff;
}

.zero {
  grid-column: span 2;
}

.gButton {
  background-color: #e0e0e0;
  color: #404041;
  border-color: #fff;
}

.oButton {
  background-color: #f5913e;
  color: #422c14;
  border-color: #fff;
}

.active-link {
  color: rgb(254, 36, 7);
  text-decoration: underline;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
}

.navBar-ul {
  display: flex;
  gap: 2vw;
}

.navBar-li {
  list-style-type: none;
}

.home-container,
.quote-container {
  padding: 0 2vw;
}
